PORT=3000

MAILER_SERVICE=gmail
MAILER_EMAIL=test@test.com
MAILER_SECRET_KEY=1010202030304040

MONGO_URL=
MONGO_DB_NAME=NOC
MONGO_USER=test
MONGO_PASS=test

POSTGRES_URL=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test